{{define "footer"}}
<footer>    
        <div class="right-align">
            <span class="indent">Last Update:</span> {{.}}
        </div>
    &copy; 2023 YJ World
</footer>
<style>
    .right-align {
        text-align: right;
    }
    .indent {
        margin-left: 20px;
    }
</style>
{{end}}